# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
.DS_Store
.mypy_cache/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

*.db
*.csv

# Virtual environment
venv/
env/

.streamlit/secrets.toml
configs/linkedin-job-analysis-api-key.json
